.logo {
    background-image: url('/static/images/logo.jpg');
    background-position: center;
    background-size: cover;

    width:300px;
    height:200px;
    margin:20px auto auto auto;
    text-align:center;
    padding:20px;
}
.container {
    margin-top:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container > div {
    display: inline-block;
    margin-right:20px;
}
.side_bar {
    padding-top:100px;
    width:120px;
    height:800px;
}
.side_bar > div {
    margin:auto;
    background-color: aqua;
    margin-bottom:50px;
    text-align:center;
    padding-top:20px;
}
.profile {
    background-color:aqua;
    border-radius:50%;
    width:100px;
    height:100px;
    text-align:center;
    font-size:20px;
}
.join_list {
    font-size:20px;
    width:100px;
    height:100px;
}
.host_list {
    font-size:20px;
    width:100px;
    height:100px;
}
.board_wrap {
    width:800px;
}
.btteam {
    width:100px;
    margin-left:720px;
    margin-bottom:10px;
}
.btteam > button {
    font-size:1.4rem;
}