* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background-color: #1BBC9B; */
}

.login-form {
    width: 300px;
    border: 0;
    background-color: #1BBC9B;
    border-radius: 5px;
    padding: 20px;
    margin: 100px auto;
}

.text-field {
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.login-btn {
    /* color: #EEEFF1; */
    font-size: 14px;
    background-color: #EEEFF1;
    margin-bottom: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 50%;
    margin: 20px 65px 0 65px;
}