<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Webpage Title -->
    <title>Hello, world!</title> 

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
		<!-- JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


    <script>
        // 로그아웃은 내가 가지고 있는 토큰만 쿠키에서 없애면 됩니다.
      $(document).ready(function() {
        email = $.cookie('mytoken')
        console.log(email)
      })
      let domain = window.location.protocol + '//' + window.location.host
      function logout(){
        $.removeCookie('mytoken');
        alert('로그아웃!')
        window.location.replace('/login')
      }

      // 내가 신청한 프로젝트 버튼 클릭
      function join_project() {
        let url = domain + '/projects/join'
        window.location.href = url
      }

      // 내가 모집한 프로젝트 버튼 클릭
      function open_project() {
        let url = domain + '/projects/open'
        window.location.href = url
      }

    </script>
</head>
<body>
    안녕하세요.<br>
    <button onclick="open_project()">내가 모집하는 프로젝트</button><br>
    <button onclick="join_project()">내가 신청한 프로젝트</button><br>
    <button class="button is-danger" onclick="logout()">로그아웃하기</button>
</body>
</html>