<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>게시글 수정 페이지</title>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
    rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/css.css">

    <script src="/static/js/edit.js"></script>
</head>

<body>
    <div class="logo" style="cursor:pointer;" onclick="main()">
        <h1>로고 영역</h1>
    </div>
    <div class="container">
        <div class="side_bar">
            <div class="profile">
                닉네임
            </div>
            <div class="join_list" style="cursor:pointer;" onclick="join_list()">
                신청한 </br>프로젝트
            </div>
            <div class="host_list" style="cursor:pointer;" onclick="host_list()">
                주최한 </br>프로젝트
            </div>
        </div>
        <div class="main_area">
            <div class="board_wrap">
                <div class="board_title">
                    <strong>수정하기</strong>
                    <p>프로젝트 팀원 모집 게시글을 수정합니다.</p>
                </div>
                <div class="board_write_wrap">
                    <div class="board_write">
                        <div class="title">
                            <dl>
                                <dt>제목</dt>
                                <dd><input type="text" placeholder="제목 입력" value="" id="title"></dd>
                            </dl>
                        </div>
                        <div class="info">
                        </div>
                        <div class="cont">
                            <textarea placeholder="내용 입력" id="content">
                            내용
                            </textarea>
                        </div>
                    </div>
                    <div class="bt_wrap" id="edit_button">
                        <a href="#" class="on">수정 완료</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>